
/* Set the size of the div element that contains the map */
#map {
    margin-bottom: 0%;
    height: 100vh; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  bottom: 15px;
  left: 0.5%;
  border-radius: 3%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

